:root {
  --texto: #1a1a1a;
  --backgroundcor: #ffffff;
  --terceiro: #ffffff;
}

.cabeçalho {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0 0px;
  gap: 600px;
}

.logo-furia {
  background-color: #ffffff;
  width: 100px;
  height: 50px;
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.botao {
  border: 2px solid #e2e2e2;
  border-radius: 25px;
  color: #111111d3;
  text-decoration: none;
  background-color: #fff;
  width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.botao:hover {
  background-color: #e2e2e2;
  transition: all 0.3s ease-in-out;
  transform: translate(1px, -1px);
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 25px 15px 25px 15px;
  box-shadow: 0px 0px 10px #000000;
  background-color: antiquewhite;
}

main {
  display: flex;
}

.titulo-textomain {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

.textomain {
  color: var(--texto);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-align: left;
  text-wrap: balance;
  text-transform: capitalize;
  font-style: italic;
  word-spacing: 8px;
  line-height: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-2 {
  color: var(--texto);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-wrap: balance;
  text-transform: capitalize;
  font-style: italic;
  word-spacing: 8px;
  line-height: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.img1 {
  border-radius: 3%;
  margin-top: 200px;
  border: #000000 solid 4px;
  box-shadow: 0px 0px 10px #000000;
}

.container-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin: 80px 80px 10px 80px;
}

.container-1-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
}

.titulo-loja {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 80px 0;
  font-family: fantasy;
  font-size: 50px;
  text-transform: uppercase;
}

.titulo-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  margin: 50px 0 50px 0;
}

.banners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.banner {
  border-radius: 20px;
}

.banner:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #000000;
  transition: all 0.3s ease-in-out;
}

.fotos-destaques {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 150px 0px 220px 0px;
  gap: 40px;
}

.fotos {
  border-radius: 20%;
  box-shadow: 0px 0px 10px #000000;
}

.fotos:hover {
  scale: 1.04;
  transition: all 0.5s ease-in-out;
}

.container-rodape {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.container-rodape-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.container-rodape-2 {
  display: flex;
  /* justify-content: right; */
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  color: #ffffff;
  margin-right: 60px;
}

.social-media:hover {
  transition: all 0.3s ease-in-out;
  transform: translate(1px, -2px);
}
